{% extends 'base.html' %}

{% block title %}{{heading}}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ heading }}</h1>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{% if form.non_field_errors %}
            <div class="notice">
                {% for error in form.non_field_errors %}{{ error }}{% endfor %}
            </div>
        {% endif %}

        {% for field in form %}
            {% include 'blog/partials/_field.html' %}
        {% endfor %}

        <button class="btn" type="submit">Update Post</button>
        <a class="btn btn--ghost" href="{% url 'blog:home' %}">Cancel</a>
</form>
{% endblock %}